<div *ngIf="isLoading$ | async" class="user-profile-loader">
    <div class="container">
        <div class="post-skeleton">
            <div class="user-info">
                <div class="skeleton avatar"></div>
                <div class="user-details">
                    <div class="skeleton username"></div>
                    <div class="skeleton short"></div>
                    <div class="skeleton short"></div>
                    <div class="skeleton about"></div>
                </div>
            </div>
        </div>
    </div>
</div>