.app_container {
    display: grid;
    grid-template-columns: minmax(0, 210px) auto;
    grid-auto-rows: auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    box-shadow: 0 0 40px rgba(0, 0, 0, .2);
    border-radius: 50px;
    overflow: hidden;
    /* background-color: #e9ebf3; */
}

.header_content {
    grid-area: 1 / 2 / 2 / 3;
    padding: 24px 70px 35px;
    background-color: #fff;
}

.sidebar_content {
    grid-area: 1 / 1 / 3 / 2;
    overflow: hidden;
    background: #fff;
    display: flex;
    flex-direction: column;
}

main {
    grid-area: 2 / 2 / 3 / 3;
    padding: 70px;
    overflow: hidden;
    position: relative;
    width: -webkit-fill-available;
    border: 2px solid #001f33;
    border-right: none;
    min-height: 70vh;
}

main::before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.8);
    filter: blur(20px);
    margin: -20px;
}

.footer_content {
    grid-area: 4 / 1 / 4 / 3;
    background-color: #fff;
}