.footer {
    background-color: #004658;
    color: #fff;
}

.footer .logo {
    align-self: center;
    padding: 12px 14px;
    border: 1px solid #001f33;
    border-radius: 50%;
    max-width: 105px;
    background-color: #ffff;
}

.footer .logo img {
    aspect-ratio: 1 / 1;
    object-fit: contain;
    width: 100%;
    display: block;
}

.footer-wave-svg {
    background-color: transparent;
    display: block;
    height: 30px;
    position: relative;
    top: -50px;
    width: 100%;
    transform: rotate(180deg);
}

.footer-wave-path {
    fill: #004658;
}
  
.footer-content {
    display: flex;
    position: relative;
    padding: 0 15px 100px;
}
  
.footer-content-column {
    box-sizing: border-box;
    padding: 0 15px;
    color: #fff;
}

.footer-content-column:first-of-type {
    margin-left: 90px;
}

.footer-content-column ul li a {
    color: #fff;
    text-decoration: none;
}
  
.footer-logo-link {
      display: inline-block;
}

.footer-menu {
    margin-top: 30px;
}
  
.footer-menu-name {
    color: #fffff2;
    font-size: 15px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}
.footer-menu-list {
    list-style: none;
    margin-bottom: 0;
    margin-top: 10px;
    padding-left: 0;
}
.footer-menu-list li {
    margin-top: 5px;
}

.footer-call-to-action-description {
    color: #fffff2;
    margin-top: 10px;
    margin-bottom: 20px;
}

.button:last-of-type {
    margin-right: 0;
}

.footer-call-to-action-button {
    background-color: #07c5a1;
    border-radius: 21px;
    color: #fffff2;
    display: inline-block;
    font-size: 11px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    padding: 12px 30px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color .2s;
    cursor: pointer;
    position: relative;
}

.footer-call-to-action-button:hover {
    background-color: #fffff2;
    color: #07c5a1;
}

.footer-call-to-action {
    margin-top: 30px;
}

.footer-call-to-action-title {
    color: #fffff2;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}

.footer-call-to-action-link-wrapper {
    margin-bottom: 0;
    margin-top: 10px;
    color: #fff;
    text-decoration: none;
}

.footer-call-to-action-link-wrapper a {
    color: #fff;
    text-decoration: none;
}

.footer-social-links {
    bottom: -1px;
    height: 54px;
    position: absolute;
    right: 0;
    width: 236px;
}

.footer-social-amoeba-svg {
    height: 54px;
    left: 0;
    display: block;
    position: absolute;
    top: 0;
    width: 236px;
}

.footer-social-amoeba-path {
    fill: #07c5a1;
}

.footer-social-link {
    display: block;
    position: absolute;
}

.hidden-link-text {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
    top: 50%;
}

.footer-social-icon-svg {
    display: block;
}

.footer-social-icon-path {
    fill: #fffff2;
    transition: fill .2s;
}

.footer-social-link.instagram {
    height: 26px;
    left: 15px;
    top: 24px;
    width: 26px;
}

.footer-social-link.freelancer {
    height: 28px;
    left: 69px;
    top: 13px;
    width: 28px;
}

.footer-social-link.whatsapp {
    height: 27px;
    left: 131px;
    top: 19px;
    width: 26px;
}

.footer-social-link.github {
    height: 34px;
    left: 182px;
    top: 17px;
    width: 34px;
}

.footer-copyright {
    background-color: #07c5a1;
    color: #fff;
    padding: 15px 30px;
    text-align: center;
}

.footer-copyright-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.footer-copyright-text {
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
}

.footer-copyright-link {
    color: #fff;
    font-weight: 600;
}

.footer-copyright-link:hover {
    text-decoration: underline;
}

/* Media Query For different screens */
@media (min-width:320px) and (max-width:479px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
}
@media (min-width:480px) and (max-width:599px)  { /* smartphones, Android phones, landscape iPhone */
}
@media (min-width:600px) and (max-width: 800px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
}
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */
}


@media (max-width:1200px) { 
    .footer-content-column:first-of-type {
        margin-left: 0;
    }
}

@media (min-width:991px) { 
    .footer-content-column {
        width: 24.99%;
    }
}

@media only screen and (max-width: 991px) and (min-width: 661px)  {
    .footer-content-column:nth-child(3) {
        display: none;
    }
}

@media (min-width: 768px) {
    .footer-wave-svg {
        height: 50px;
    }

    .footer-content {
        padding: 0 70px 100px;
    }
}

@media (max-width: 768px) {
    .footer-wave-svg {
        height: 30px;
        top: -30px;
    }
    
    .footer-content {
        padding: 0 2.5rem 100px;
    }
}

@media only screen and (max-width: 690px) and (min-width: 661px)  {
    .footer-call-to-action-button {
       letter-spacing: 0.3px;
    }
}

@media (min-width: 661px) {
    .footer-content-column {
        width: 32.99%;
    }
}

@media only screen and (max-width: 661px) and (min-width: 500px)  {
    .footer-content {
        display: flex;
        flex-flow: row wrap;
        gap: 1rem;
    }

    .footer-content-column {
        padding: 0;
        gap: 1rem;
    }

    .footer-content-column:not(:nth-child(1)) {
        display: flex;
    }

    .footer-content-column:nth-child(2) {
        align-items: end;
    }

    .footer-content-column:nth-child(odd) {
        width: calc(35.99% - 1rem);
    }

    .footer-content-column:nth-child(even) {
        width: 63.99%;
        justify-content: space-between;
    }

    .footer-call-to-action-button {
        padding: .75rem 1.5rem;
    }

    .footer-call-to-action-link {
        white-space: nowrap;
    }
}

@media (max-width: 500px) {
    .toggle-title {
        cursor: pointer;
        font-weight: bold;
        user-select: none;
        display: inline-flex;
        align-items: center;
        gap: 11px;
    }

    .toggle-title .triangle {
        content: "";
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 0 6px 9px 6px;
        border-color: transparent transparent #FFFFFF transparent;
        transform: rotate(180deg);
        transition: transform 0.3s ease-in-out;
    }

    .toggle-title .triangle.rotated {
        transform: rotate(0);
    }

    .footer-wave-svg {
        height: 20px;
        top: -20px;
    }
}

@media only screen and (max-width: 500px) and (min-width: 410px)  {
    .footer-content {
        padding: 0 1rem 100px;
        flex-direction: column;
    }
    
    .footer-content-column:nth-child(even) {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
    }

    .footer-content-column:nth-child(3) {
        display: block;
    }
    
    .footer-menu:nth-child(odd),
    .footer-call-to-action:nth-child(odd) {
        width: 200px;
    }
    
}

@media (min-width:320px) and (max-width:410px)  {
    .footer-content {
        padding: 0 1rem 5rem;
    }
    
    .footer-content,
    .footer-content-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;
    }
}