<div class="container">
    <div class="hide recover_password">
        <form [formGroup]="recoverPasswordForm" (submit)="onRecover()">
            <div class="form_title">Recover Password</div>
            <div class="form-control form_input_group">
                <input type="email" placeholder="Email" id="email" formControlName="email" class="form_input" autofocus required>
                <div *ngIf="emailError" class="form_message form_message_error">{{ emailError }}</div>
            </div>
            <button class="form_button" type="submit">Recover Password</button>
            <p>A mail will be sent on your email address  with instructions to reset the password.</p>
            <ul>
                <li>Did you misclick? <a routerLink="/login" class="form_link"><strong>Go back</strong></a></li>
            </ul>
        </form>
    </div>
    <div class="success-message">
        <svg viewBox="0 0 76 76" class="message_icon icon-checkmark">
            <circle cx="38" cy="38" r="36"/>
            <path fill="none" stroke="#FFFFFF" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M17.7,40.9l10.9,10.9l28.7-28.7"/>
        </svg>
        <h1 class="message_title">Mail Sent</h1>
        <div class="message_content">
            <p>Please check your inbox.</p>
        </div>
    </div>
</div>