
.initial-loader {
    min-height: 100vh;
    background: linear-gradient(135deg, #0e1014, #1c2733, #0e1014);
    background-size: 400% 400%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    opacity: 1;
    visibility: visible;
    transition: visibility 0s .5s, opacity .5s linear;
    animation: gradientBackground 10s ease-in-out infinite;
}

@keyframes gradientBackground {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.initial-loader.hidden {
    visibility: hidden;
    opacity: 0;
}

.intro-box {
	position: relative;
}

.intro-box .intro {
	font-size: 8em;
	position: absolute;
	transform: translate(-50%, -50%);
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.intro-box .intro:nth-child(1) {
    color: #fff;
    -webkit-text-stroke: 2px #fff;
}

.intro-box .intro:nth-child(2) {
    color: #004658;
    -webkit-text-stroke: 6px #004658;
	animation: animate 4s ease-in-out infinite;
}

.responsive-animation {
	display: none;
}

@keyframes animate {
    0% {
        clip-path: polygon(
            0% 55%,
            15% 60%,
            30% 65%,
            45% 60%,
            60% 55%,
            75% 50%,
            90% 55%,
            100% 60%,
            100% 100%,
            0% 100%
        );
    }

    25% {
        clip-path: polygon(
            0% 60%,
            15% 65%,
            30% 60%,
            45% 55%,
            60% 50%,
            75% 55%,
            90% 60%,
            100% 65%,
            100% 100%,
            0% 100%
        );
    }

    50% {
        clip-path: polygon(
            0% 55%,
            15% 50%,
            30% 55%,
            45% 60%,
            60% 65%,
            75% 60%,
            90% 55%,
            100% 50%,
            100% 100%,
            0% 100%
        );
    }

    75% {
        clip-path: polygon(
            0% 50%,
            15% 55%,
            30% 60%,
            45% 55%,
            60% 50%,
            75% 45%,
            90% 50%,
            100% 55%,
            100% 100%,
            0% 100%
        );
    }

    100% {
        clip-path: polygon(
            0% 55%,
            15% 60%,
            30% 65%,
            45% 60%,
            60% 55%,
            75% 50%,
            90% 55%,
            100% 60%,
            100% 100%,
            0% 100%
        );
    }
}

@media (max-width: 768px) {
	.intro-box {
		display: none;
	}

    .responsive-animation {
        position: relative;
        width: 150px;
        height: 150px;
        margin: auto;
        background: radial-gradient(circle, #d9d9d9, #7c7c7c);
        border-radius: 50%;
        box-shadow: 0 0 20px rgba(0, 70, 88, 0.6);
        animation: pulseGlow 4s infinite ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;
    }

	.responsive-animation::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: radial-gradient(circle, rgba(255, 255, 255, 0.8), transparent);
        border-radius: 50%;
		animation: waveEffect 6s infinite ease-in-out;
	}
	
	.responsive-animation img {
		aspect-ratio: 1 / 1;
		object-fit: contain;
		max-width: 122px;
		clip-path: view-box;
		border-radius: 50%;
		padding: 10px;
		overflow: visible;
		z-index: 1;
	}
	
	@keyframes pulseGlow {
		0%, 100% {
			transform: scale(1);
			box-shadow: 0 0 20px rgba(0, 70, 88, 0.6);
		}
		50% {
			transform: scale(1.1);
			box-shadow: 0 0 30px rgba(0, 70, 88, 0.8);
		}
	}
	
	@keyframes waveEffect {
		0%, 100% {
			transform: scale(1);
			opacity: 0.6;
		}
		50% {
			transform: scale(1.3);
			opacity: 0.3;
		}
	}
}