.container {
    width: 500px;
    margin: 1rem 0;
    padding: 3rem 3.5rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, .2);
    border-radius: 4px;
    background: #ffffff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.form_title {
    margin-bottom: 2rem;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

input,
textarea {
    display: block;
    width: 100% !important;
    padding: 0.75rem;
    margin-bottom: 3px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #dddddd;
    outline: none;
    background: #eeeeee;
    font: 500 15px "Quicksand", sans-serif;
}


input:focus,
input:focus-within,
input:focus-visible,
textarea:focus,
textarea:focus-within,
textarea:focus-visible {
    border-color: #07c5a1;
    background: #ffffff;
    outline: none;
}

label {
    font-weight: 500;
}

.form_message_success {
    color: #4bb544;
}

.form_message_error {
    color: #cc3333;
}

.form_message_notification {
    color: grey;
    font-size: 13px;
}

.close {
    position: absolute;
    top: 18px;
    right: 16px;
    z-index: 2;
    cursor: pointer;
}

.btn-primary {
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    background: #07c5a1;
}

.btn-primary:hover {
    background: #09a88b;
}

svg {
    opacity: 0;
}

.success-message {
    text-align: center;
    width: 330px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}
  
.message_icon {
    max-width: 75px;
}
  
.message_title {
    color: #3dc480;
    transform: translateY(15px);
    font-size: 24px;
    opacity: 0;
    transition: all 200ms ease;
    letter-spacing: -.1px;
}
  
.message_content {
    color: #b8babb;
    transform: translateY(25px);
    opacity: 0;
    transition: all 200ms ease;
    transition-delay: 50ms;
}
  
.icon-checkmark circle {
    fill: #3dc480;
    transform-origin: 50% 50%;
    transform: scale(0);
    transition: transform 200ms cubic-bezier(0.22, 0.96, 0.38, 0.98);
}

.icon-checkmark path {
    transition: stroke-dashoffset 350ms ease;
    transition-delay: 100ms;
}

@media only screen and (max-width: 600px) {
    .container {
        width: calc(100% - 4rem);
        padding: 2rem 1.5rem;
        left: 2rem;
        margin: 0;
        transform: translateY(-50%);
    }
}

@media only screen and (max-width: 500px) {
    .form_title {
        font-size: 24px;
    }
}