<div *ngIf="isLoading$ | async" class="users-loader">
    <div class="container">
        <div class="post-skeleton">
            <div class="user-info">
                <div class="skeleton avatar"></div>
                <div class="skeleton username"></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="post-skeleton">
            <div class="user-info">
                <div class="skeleton avatar"></div>
                <div class="skeleton username"></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="post-skeleton">
            <div class="user-info">
                <div class="skeleton avatar"></div>
                <div class="skeleton username"></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="post-skeleton">
            <div class="user-info">
                <div class="skeleton avatar"></div>
                <div class="skeleton username"></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="post-skeleton">
            <div class="user-info">
                <div class="skeleton avatar"></div>
                <div class="skeleton username"></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="post-skeleton">
            <div class="user-info">
                <div class="skeleton avatar"></div>
                <div class="skeleton username"></div>
            </div>
        </div>
    </div>
</div>