.container {
    width: 770px;
    max-width: 770px;
    padding: 3rem 3.5rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, .2);
    border-radius: 4px;
    background: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
}

.login {
    max-width: 330px;
    width: 330px;
}

img {
    /* aspect-ratio: 1/1; */
    object-fit: contain;
    max-width: 257px;
}

strong {
    font-weight: 700 !important;
}

* {
    font: 500 1rem "Quicksand", sans-serif;
}

a, a:focus, a:visited, a:active {
    color: inherit;
    text-decoration: none;
    font-family: 'Arial', sans-serif;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}

ul {
    list-style: none;
    padding: 0;
    margin: 2rem 0 0;
}

li {
    margin: 1rem 0; 
    text-align: center;
}

li:last-of-type {
    margin-bottom: 0;
}

.title {
    display: block;
    width: 330px;
    margin: 0 0 2rem auto;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.form_input#password {
    padding-right: 30px;
}

.form_message {
    text-align: center;
    margin: 1rem 0;
}

.form_message_success {
    color: #4bb544;
}

.form_message_error {
    color: #cc3333;
}

.form_message_notification {
    color: grey;
    font-size: 13px;
}

.form_input_group {
    margin-bottom: 1rem;
}

.form_button {
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    background: #07c5a1;
}

.form_button:hover {
    background: #09a88b;
}

.input-icon-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.password-icon {
    position: absolute;
    right: 10px;
    cursor: pointer;
    color: #555;
    user-select: none;
}

@media only screen and (max-width: 770px) {
    .container {
        width: auto;
        max-width: unset;
        margin: 1rem;
    }

    .title {
        text-align: center;
        width: auto;
    }

    content {
        flex-direction: column;
        align-items: center;
        gap: unset;
    }

    img {
        display: none;
    }
}


@media only screen and (max-width: 500px) {
    .container {
        padding: 2rem 2.25rem;
        width: calc(100% - 2rem);
        margin: 1rem auto;
    }
}