.user_profile {
    overflow: hidden;
    background: #f3f4f6;
    border-radius: 8px;
    margin: 0 0 32px;
}

.user_avatar {
    max-width: 55px;
    width: 55px;
    height: 55px;
    border: 1px solid #e4e4e7;
    border-radius: 50%;
}

.user_about {
    max-width: 420px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.user_details {
    display: flex;
    justify-content: center;
    gap: 80px;
    padding: 64px 32px 72px;
    background: #fff;
    position: relative;
}

.user_category {
    border-top: 1px solid #bbb;
    overflow: hidden;
    padding: 0 32px 32px;
}

.user_category_title {
    display: flex;
    justify-content: center;
    gap: 42px;
    line-height: 1;
    padding: 10px 0 0;
}

.user_description {
    white-space: pre-line;
}

.subcategory {
    display: inline-flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: 500;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.subcategory input {
    display: none;
}

.subcategory label {
    position: relative;
}

.subcategory .icon {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.subcategory span {
    padding: 0 7px 0 4px;
}


.subcategory input:checked + label::before {
    content: "";
    background-color: #bbb;
    top: -15px;
    left: 0;
    position: absolute;
    width: 100%;
    height: 3px;
    transition: transform 0.3s ease-in-out;
    transform: translateY(100%);
}

.subcategory label::before {
    content: "";
    background-color: #bbb;
    top: -16px;
    left: 0;
    position: absolute;
    width: 100%;
    height: 3px;
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
}

.content {
    margin: 32px 0 0;
}

.posts {
    display: grid;
    grid-gap: 20px;
}

.post_item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 24px;
    border-radius: 4px;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background: #fff;
    position: relative;
    max-width: 290px;
}

.post_item .title {
    font-weight: 600;
    font-size: 18px;
    overflow: hidden;
    hyphens: auto;
}

.no-post .post_item {
    max-width: unset;
    aspect-ratio: unset;
}

.no-post .post_item {
    flex-direction: column;
    padding: 4rem 0;
}
  
.no-post .post_item .icon {
    font-size: 4rem;
}
  
.no-post .post_item .no-posts-title {
    margin-top: 1rem;
    font-size: 1.125rem;
    font-weight: 600;
}
  
.no-posts-text {
    margin-top: 0.5rem;
    color: #888;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 24px 0 0;
}

.pagination li {
    margin: 0 5px;
}

.pagination li.active {
    padding: 2px 12px;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    background-color: #07c5a1;
}

.pagination li a {
    cursor: pointer;
}

.profile-modification {
    position: absolute;
    right: 32px;
    top: 24px;
}

.edit-profile {
    display: flex;
    gap: 6px;
    align-items: center;
    padding: 1rem 2rem;
    border-radius: 4px;
    font-weight: bold;
    font-size: 1em;
    outline: none;
    cursor: pointer;
    border: 1px solid #010726;
    background: transparent;
    color: #010726;
    /* transition: all cubic-bezier(0.39, 0.575, 0.565, 1) .3s; */
}

.edit-profile:hover {
    background-color: #010726;
    color: #fff;
}

.profile-modification .icon {
    font-size: 14px;
}

.profile-modification span {
    font-family: "Arial", sans-serif;
}

.profile-update-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 4px;
    opacity: 1;
    transition: opacity 0.5s, visibility 0.5s ease-out;
}
  
.profile-update-message.hidden {
    opacity: 0;
    visibility: hidden;
}

.profile-update-message .triangle {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 8px 9px 8px;
    border-color: transparent transparent #010726 transparent;
    transform: rotate(0deg);
    margin-left: -110px;
}

.profile-update-message p {
    font-size: 0.75em;
    padding: .75rem 1.25rem;
    border-radius: 5px;
    background: #010726;
    color: #fff;
}

.actions {
    position: absolute;
    top: 8px;
    left: 8px;
    right: 8px;
    display: flex;
    justify-content: space-between;
}

.actions button {
    border: none;
    border-radius: 50%;
    padding: 12px;
    width: 40px;
    height: 40px;
    background: transparent;
    cursor: pointer;
    transition: all cubic-bezier(0.39, 0.575, 0.565, 1) .3s;
}

.hide {
    visibility: hidden;
    opacity: 0s;
}

.actions button.update-post:hover {
    color: #fff;
    background: #010726;
}

.actions button.delete-post:hover {
    color: #fff;
    background: red;
}

.update-post-form {
    margin: 0 32px 32px;
}

.update-post-form hr {
    margin: 32px 0;
}

.update-post-form form {
    background: #fff;
    border: 1px solid rgb(228, 228, 231);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    position: relative;
    width: 100%;
    padding: 24px 32px;
}

.update-post-form form h2 {
    margin: 0 0 24px;
}

.update-post-form textarea {
    display: block;
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 3px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #dddddd;
    outline: none;
    background: #eeeeee;
    transition: background-color 0.2s, border-color 0.2s;
    resize: none;
}

.update-post-form .form-group {
    margin: 0 0 20px;
}

.update-post-form .button-group {
    display: flex;
    gap: 16px;    
}

.update-post-form .button-group button {
    padding: 1rem 2rem;
    border-radius: 4px;
    font-weight: bold;
    font-size: 1em;
    outline: none;
    cursor: pointer;
    border: 1px solid;
    /* transition: all cubic-bezier(0.39, 0.575, 0.565, 1) .3s; */
}

.update-post-form .button-group .submit-update {
    background-color: #07c5a1;
    color: #fff;
    border: 1px solid #07c5a1;
}

.update-post-form .button-group .cancel-update {
    border: 1px solid #010726;
    background: transparent;
    color: #010726;
}

.update-post-form .button-group .submit-update:hover {
    background: #09a88b;
}

.update-post-form .button-group .cancel-update:hover {
    background-color: #010726;
    color: #fff;
}

svg {
    opacity: 0;
}

.success-message {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    letter-spacing: -.4px;
    visibility: hidden;
}
  
.message_icon {
    max-width: 75px;
}
  
.message_title {
    color: #3dc480;
    transform: translateY(15px);
    font-size: 21px;
    opacity: 0;
    transition: all 200ms ease;
}
  
.message_content {
    color: #b8babb;
    transform: translateY(25px);
    opacity: 0;
    transition: all 200ms ease;
    transition-delay: 50ms;
}
  
.icon-checkmark circle {
    fill: #3dc480;
    transform-origin: 50% 50%;
    transform: scale(0);
    transition: transform 200ms cubic-bezier(0.22, 0.96, 0.38, 0.98);
}

.icon-checkmark path {
    transition: stroke-dashoffset 350ms ease;
    transition-delay: 100ms;
}

@media only screen and (min-width: 1400px) {
    .posts {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}


@media only screen and (max-width: 1400px) and (min-width: 991px)  {
    .posts {
        grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    }
}

@media only screen and (max-width: 991px) {
    .posts {
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    }

    .post_item {
        max-width: 280px;
        width: 100%;
        margin: 0 auto;
    }
    .user_details {
        padding: 32px;
        gap: 1.5rem;
    }

    .edit-profile {
        gap: 1.5rem;
        padding: .5rem;
    }

    .profile-modification {
        right: 18px;
        top: 18px;
    }

    .profile-modification span {
        display: none;
    }

    .profile-modification .icon {
        line-height: 1;
    }
}

@media only screen and (max-width: 700px) {
    h2 {
        margin-top: 7px;
    }
    .user_main,
    .user_username,
    .user_description {
        margin-left: -75px;
    }

    .user_main {
        margin-top: .5rem;
    }

    .user_main strong,
    .user_username strong,
    .user_description strong {
        display: inline-block;
        width: 80px;
    }

    .user_email,
    .user_phone,
    .user_username,
    .user_description {
        display: flex;
    }

    .user_description br {
        display: none;
    }

    .user_about span {
        width: calc(100% - 80px);
    }
}

@media only screen and (max-width: 500px) {
    .user_profile {
        margin: 0;
    }
    
    .user_category {
        padding: 0 1rem 1.5rem;
    }

    .content {
        margin: 1rem 0 0;
    }

    .update-post-form {
        margin: 0 1rem 1rem;
    }

    .user_details,
    .post_item,
    .update-post-form form,
    .update-post-form .button-group button {
        padding: 1rem;
    }

    .post_item .title {
        font-size: 1rem;
    }

    .profile-modification {
        right: 8px;
        top: 8px;
    }
    
    .edit-profile {
        padding: 3px;
    }
}

@media only screen and (max-width: 400px) {
    .user_main strong,
    .user_username strong,
    .user_description strong {
        margin-right: 3px;
        width: auto;
    }

    .user_about span {
        width: auto;
    }

    .user_description {
        flex-direction: column;
    }

    .user_name h2 {
        margin-top: 1rem;
    }
}