<ng-container *ngIf="tokenValid; else invalidToken">
    <div class="container">
        <div class="hide reset_password">
            <form [formGroup]="resetPasswordForm" (ngSubmit)="onReset()">
                <div class="valid_form">
                    <div class="form_title">Reset Password</div>
                    <div class="form-control form_input_group">
                        <div class="input-icon-wrapper">
                            <input id="password" formControlName="password" [type]="passwordVisible ? 'text' : 'password'" class="form_input"  placeholder="Password" required />
                            <fa-icon [icon]="passwordVisible ? hidePassword : showPassword" (click)="passwordState()" class="password-icon"></fa-icon>
                        </div>
                        <div *ngIf="submitted && getPasswordErrorMessage()" class="form_message_error">{{ getPasswordErrorMessage() }}</div>
                    </div>
                    <div class="form_input_group">
                        <div class="input-icon-wrapper">
                            <input id="repeat_password" formControlName="repeat_password" [type]="repeatPasswordVisible ? 'text' : 'password'" class="form_input" placeholder="Confirm password" autofocus required />
                            <fa-icon [icon]="repeatPasswordVisible ? hidePassword : showPassword" (click)="repeatPasswordState()" class="password-icon"></fa-icon>
                        </div>
                        <div *ngIf="submitted && getRepeatPasswordErrorMessage()" class="form_message_error">{{ getRepeatPasswordErrorMessage() }}</div>
                    </div>
                    <div *ngIf="messageError" [innerHTML]="messageError" class="form_message form_message_notification"></div>
                    <button class="form_button" type="submit">Reset Password</button>
                </div>
            </form>
        </div>
        <div class="success-message">
            <svg viewBox="0 0 76 76" class="message_icon icon-checkmark">
                <circle cx="38" cy="38" r="36"/>
                <path fill="none" stroke="#FFFFFF" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M17.7,40.9l10.9,10.9l28.7-28.7"/>
            </svg>
            <h1 class="message_title">Password Reset Successful</h1>
            <div class="message_content">
                <p>You will be redirected to <strong>Login Page</strong> <span *ngIf="countdown > 0" class="countdown-timer"> in {{ countdown }}</span>.</p>
            </div>
        </div>
    </div>
</ng-container>
<ng-template #invalidToken>
    <div class="invalid_container">
        <img src="https://connect-hub-images.s3.eu-central-1.amazonaws.com/logo/connect_hub.png" alt="">
        <div class="content">
            <div class="form_title">Invalid / Expired session</div>
            <ul>
                <li>Didn't receive your password reset link? <a routerLink="/reset-password" class="form_link"><strong>Resend</strong></a></li>
            </ul>
        </div>
    </div>
</ng-template>